<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.opendasharchive.openarchive"
    android:installLocation="auto">

    <application
        android:name=".OpenArchiveApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">

        <activity
            android:name=".projects.BrowseProjectsActivity"
            android:label="@string/title_activity_browser_projects"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".publish.UploadManagerActivity"
            android:label="@string/title_activity_upload_manager"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- filter for sending text or images; accepts SEND action and audio/photo/video data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.jpg" />
                <data android:pathPattern=".*\\.png" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.archivedotorg.ArchiveSettingsActivity"
            android:label="@string/title_activity_archive_metadata"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="io.scal.secureshareui.login.ArchiveLoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".features.onboarding.SpaceSetupActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.opendasharchive.openarchive.features.onboarding.SpaceSetupActivity" />
        </activity>

        <activity
            android:name=".services.webdav.WebDAVLoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".services.archivedotorg.ArchiveOrgLoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".services.dropbox.DropboxLoginActivity"
            android:label="@string/title_activity_login" />

        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="net.opendasharchive.openarchive.db" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DATABASE"
            android:value="openarchive.db" />
        <meta-data
            android:name="VERSION"
            android:value="31" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".publish.PublishService"
            android:exported="false" />
        <service
            android:name=".publish.PublishJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-gd5sputfo57s1l1" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.core.SpaceSettingsActivity"
            android:label="@string/title_activity_space_settings">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="nc" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.media.preview.PreviewMediaListActivity"
            android:label="@string/title_activity_batch_media_review"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.media.review.ReviewMediaActivity"
            android:label="@string/title_activity_view_media"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".features.media.batch.BatchReviewMediaActivity"
            android:label="@string/title_activity_batch_view_media"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".features.core.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.opendasharchive.openarchive.MainActivity" />
        </activity>

        <activity
            android:name=".features.core.SettingsActivity"
            android:label="App Intro" />

        <activity
            android:name=".features.onboarding.SpaceSetupActivity"
            android:label="@string/title_activity_first_start"
            android:screenOrientation="portrait" />


        <activity
            android:name=".features.onboarding.OAAppIntro"
            android:label="App Intro"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.projects.CreateNewProjectActivity"
            android:label="@string/title_activity_create_new_project"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.projects.AddProjectActivity"
            android:label="@string/title_activity_new_project"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.projects.EditProjectActivity"
            android:label="@string/title_activity_new_project"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
