<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.opendasharchive.openarchive"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.github.paolorotolo.appintro"
        />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    -->

    <!-- Required to sign in or register with archive.org -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OpenArchiveApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:icon"
        >
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="net.opendasharchive.openarchive.db" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DATABASE"
            android:value="openarchive.db" />
        <meta-data
            android:name="VERSION"
            android:value="11" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- filter for sending text or images; accepts SEND action and audio/photo/video data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\.3gp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\.3gp" />
            </intent-filter>


        </activity>
        <activity
            android:name=".onboarding.FirstStartActivity"
            android:label="@string/title_activity_first_start"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReviewMediaActivity"
            android:label="@string/title_activity_view_media"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            />
        </activity>
        <activity
            android:name=".ArchiveSettingsActivity"
            android:label="@string/title_activity_archive_metadata"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme"/>
        <activity
            android:name="io.scal.secureshareui.login.ArchiveLoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".onboarding.FirstStartActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.opendasharchive.openarchive.onboarding.FirstStartActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.opendasharchive.openarchive.MainActivity" />
        </activity>
        <activity android:name=".NearbyActivity"
            android:theme="@style/ayandaDialog"
            />
        <activity android:name=".onboarding.OAAppIntro"
            android:label="App Intro" />
        <activity android:name=".SettingsActivity"
            android:label="App Intro" />
        <service android:name=".publish.PublishService"
            android:exported="false"
            />
        <service android:name=".publish.PublishJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
